h1 {
    display: block;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
    margin-top: 100px;
}

#TT {
    width: 100%;
    margin: 0 auto;
    font: 18px Arial, Helvetica, sans-serif;
}

#main {
    margin: 60px auto !important;
    float: inherit !important;
}