a#out {
    text-decoration: none;
    color: #36526c;
    transition: 1s;
    float: right;
}

a#out:hover {
    text-decoration: none;
    color: #6b93af;
    transition: 1s;
}

#Introduction {
    margin: 0 auto;
    margin-top: 100px;
    width: 100%;
    font: 14px Arial, Helvetica, sans-serif;
}

#Software {
    width: 100%;
    margin: 0 auto;
    font: 14px Arial, Helvetica, sans-serif;
}

#Methodology {
    width: 100%;
    margin: 0 auto;
    font: 14px Arial, Helvetica, sans-serif;
}

#medalbutton {
    color: #aaed51 !important;
    opacity: 1;
    font-size: 14px;
}

p {
    font-size: 16px;
}