#Introduction {
    margin: 0 auto;
    width: 100%;
    font: 16px Arial, Helvetica, sans-serif;
}

#Software {
    width: 100%;
    margin: 0 auto;
    font: 16px Arial, Helvetica, sans-serif;
}

#Methodology {
    width: 100%;
    margin: 0 auto;
    font: 16px Arial, Helvetica, sans-serif;
}

#overallbutton {
    color: #aaed51;
}