#first {
    width: 1000px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 0 auto;
}

#second {
    width: 1000px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 0 auto;
}

#dlink a {
    font: 16px Arial, Helvetica, sans-serif;
}

#clothobutton {
    color: #aaed51 !important;
}

div.contain {
    font: 16px Arial, Helvetica, sans-serif;
    margin: 0 auto;
    width: 960px;
    height: auto;
}

#title {
    margin-top: 80px;
    margin-left: -20px;
}

#Code {
    clear: both;
    position: relative;
    top: 10px;
}

#Download img {
    width: 60px;
    height: 60px;
}


a:hover {
    text-decoration: none;
}


.image img {
    width: 960px;
}


#softwarebutton {
    color: #aaed51;
}


#left_direction {
    width: 130px;
    height: auto;
    float: left;
    position: fixed;
    top: 40%;
    background: url(https://static.igem.org/mediawiki/2013/1/1e/M_1243691170517.jpg) repeat;
    border-radius: 5px;
    box-shadow: #999 3px 3px 1px;
}

#left_direction ul,
#left_direction ul li a {
    color: #000;
    font-size: 16px;
    text-decoration: none;
    font-family: Tahoma, Geneva, sans-serif;
    list-style-image: none;
    list-style-type: disc;
}

#left_direction ul li a:hover {
    color: #aaed51;
    opacity: 1;
}